<?xml version="1.0"?>

<model>
  <name>ROS Interface</name>
  <version>1.0</version>

  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Geoffrey Hunter</name>
    <email>gbmhunter@gmail.com</email>
  </author>

  <description>
    A model that purely exists to load the ROS interface plugin in Gazebo.
  </description>

</model>
