<?xml version="1.0"?>
<model>
  <name>Davos</name>
  <version>1.0</version>
  <sdf version="1.4">davos.sdf</sdf>

  <author>
    <name>David Rohr</name>
    <email>daviid.rohr@gmail.com</email>
  </author>

  <description>
    Part of the Davos terrain, imported from real-world evelation data.
  </description>

</model>
