<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mav_gazebo)/worlds/basic.world"/>
    <!-- arg name="debug" value="true" / -->
    <arg name="paused" value="true" />
    <!-- arg name="gui" value="false" / -->
  </include>

  <include file="$(find mav_gazebo)/launch/spawn_firefly.launch" />
  
  <group ns="firefly">
    <node name="waypoint_publisher" pkg="euroc_simulation_server" type="t4_waypoint_publisher" output="screen"/>
  </group>
</launch>
