<launch>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="euroc_c3_t4_1"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mav_gazebo)/worlds/basic.world"/>
    <!-- arg name="debug" value="true" / -->
    <arg name="paused" value="true" />
    <!-- arg name="gui" value="false" / -->
  </include>

  <include file="$(find mav_gazebo)/launch/spawn_firefly.launch">
    <arg name="model" value="$(find euroc_simulation_server)/urdf/firefly_t4_1.gazebo.xacro" />
    <arg name="enable_logging" value="$(arg enable_logging)" />
    <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
    <arg name="log_file" value="$(arg log_file)"/>
  </include>

  <group ns="firefly">
    <node name="waypoint_publisher" pkg="euroc_simulation_server" type="t4_waypoint_publisher" output="screen" args="$(find euroc_simulation_server)/resource/waypoints_t4_1.txt"/>
  </group>
</launch>
