<?xml version="1.0"?>
<!--
  Copyright 2015 Fadri Furrer, ASL, ETH Zurich, Switzerland
  Copyright 2015 Michael Burri, ASL, ETH Zurich, Switzerland
  Copyright 2015 Mina Kamel, ASL, ETH Zurich, Switzerland
  Copyright 2015 Janosch Nikolic, ASL, ETH Zurich, Switzerland
  Copyright 2015 Markus Achtelik, ASL, ETH Zurich, Switzerland

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<robot name="niv1" 
  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find rotors_description)/urdf/component_snippets.xacro" />
  <xacro:include filename="$(find rotors_description)/urdf/leddarvu.xacro" />
  <xacro:include filename="$(find rotors_description)/urdf/nearthlab_payload.xacro" />
  
  <!-- Instantiate niv1 "mechanics" -->
  <xacro:include filename="$(find rotors_description)/urdf/niv1.xacro" />
  
    <!-- Instantiate a controller. -->
  <xacro:controller_plugin_macro namespace="${namespace}" imu_sub_topic="imu" />
  <!-- Instantiate a ROS message interface 
  <xacro:ros_interface_plugin_macro namespace="${namespace}" />
  -->
  
  <xacro:include filename="$(find rotors_description)/urdf/gimbal_front_v1.xacro" />

  <xacro:if value="$(arg enable_mavlink_interface)">
    <!-- Instantiate mavlink telemetry interface. -->
    <xacro:niv1_mavlink_interface namespace="${namespace}" imu_sub_topic="imu" rotor_count="4" />
  </xacro:if>
  
  <xacro:niv1_imu namespace="${namespace}" parent_link="${namespace}/base_link" />
  <xacro:niv1_gps namespace="${namespace}" parent_link="${namespace}/base_link" />
  <xacro:niv1_magnetometer namespace="${namespace}" parent_link="${namespace}/base_link" />
  <xacro:niv1_pressure_sensor namespace="${namespace}" parent_link="${namespace}/base_link" />

  <xacro:gimbal_macro namespace="${namespace}" parent_link="${namespace}/base_link" >
    <origin xyz="0.36 0 0.03" rpy="0 0 0" />
  </xacro:gimbal_macro>
  
  <!-- Camera Sensor -->
  <xacro:camera_macro namespace="${namespace}" parent_link="${namespace}/gimbal_plate_link" camera_suffix="0" frame_rate="30" horizontal_fov="1.448622" image_width="640" image_height="480" image_format="" min_distance="0.02" max_distance="200" noise_mean="0.0" noise_stddev="0.007" enable_visual="true">
    <mesh filename="package://rotors_description/meshes/csi_camera.dae" scale="1 1 1" />
    <origin xyz="0.02 -0.02 0.02" rpy="0 0 0" />
  </xacro:camera_macro>

  <!--LIDAR Sensor-->
  <xacro:lidar_macro namespace="${namespace}" parent_link="${namespace}/base_link" lidar_number="0">
    <!-- <origin xyz="0 0 -0.035" rpy="0 0 0" /> -->
    <origin xyz="0.34 0 -0.1" rpy="0 0 0" />    
  </xacro:lidar_macro>

  <xacro:lidar_macro namespace="${namespace}" parent_link="${namespace}/gimbal_plate_link" lidar_number="1">
    <!-- <origin xyz="0 0 -0.035" rpy="0 0 0" /> -->
    <origin xyz="0.0 0 -0.025" rpy="0 0 0" />    
  </xacro:lidar_macro>
   
  <!-- Nearthlab Payload -->
  <!-- <xacro:payload_macro namespace="${namespace}" parent_link="${namespace}/base_link" >
    <origin xyz="0 0 -0.06" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rotors_description/meshes/nearthlab_payload.dae" scale="0.0004 0.0004 0.0004" />
      </geometry>
  </xacro:payload_macro> -->

  <xacro:if value="$(arg enable_ground_truth)">
    <xacro:ground_truth_imu_and_odometry namespace="${namespace}" parent_link="${namespace}/base_link" />
  </xacro:if>
  <xacro:if value="$(arg enable_logging)">
    <!-- Instantiate a logger -->
    <xacro:bag_plugin_macro namespace="${namespace}" bag_file="$(arg log_file)" rotor_velocity_slowdown_sim="${rotor_velocity_slowdown_sim}" wait_to_record_bag="$(arg wait_to_record_bag)" />
  </xacro:if>

</robot>