<?xml version="1.0"?>
<robot name="target" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="target/base_link">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.8 0.8 0.001" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rotors_description/meshes/target.dae" scale="1 1 1" />
      </geometry>
    </visual>
  </link>

  <xacro:include filename="$(find rotors_description)/urdf/component_snippets.xacro" />

  <xacro:default_imu namespace="target" parent_link="target/base_link" />

  <gazebo>
    <plugin name="landing_target_plugin" filename="librotors_gazebo_landing_target_plugin.so">
      <robotNamespace>target</robotNamespace>
      <linkName>target/base_link</linkName>
    </plugin>
  </gazebo>
</robot>
