<?xml version="1.0"?>
<!--
  Copyright 2016 Pavel Vechersky, ASL, ETH Zurich, Switzerland

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot name="techpod" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Global properties -->
  <xacro:property name="namespace" value="$(arg namespace)" />
  <xacro:property name="rotor_velocity_slowdown_sim" value="10" />
  <xacro:property name="use_mesh" value="true" />

  <!-- Constants -->
  <xacro:property name="PI" value="3.1415926535897931" />

  <!-- Component masses -->
  <xacro:property name="mass_fuselage" value="2.05" /> <!-- [kg] -->
  <xacro:property name="mass_aileron" value="0.1" /> <!-- [kg] -->
  <xacro:property name="mass_flap" value="0.1" /> <!-- [kg] -->
  <xacro:property name="mass_elevator" value="0.1" /> <!-- [kg] -->
  <xacro:property name="mass_rudder" value="0.1" /> <!-- [kg] -->
  <xacro:property name="mass_propeller" value="0.1" /> <!-- [kg] -->

  <!-- Main body properties -->
  <xacro:property name="body_length" value="1.088" /> <!-- [m] -->
  <xacro:property name="body_width" value="2.591" /> <!-- [m] -->
  <xacro:property name="body_height" value="0.303" /> <!-- [m] -->
  <xacro:property name="body_color" value="Gray" />

  <!-- Aileron properties -->
  <xacro:property name="aileron_length" value="0.053" /> <!-- [m] -->
  <xacro:property name="aileron_width" value="0.349" /> <!-- [m] -->
  <xacro:property name="aileron_height" value="0.013" /> <!-- [m] -->
  <xacro:property name="aileron_min_angle" value="-0.349066" /> <!-- [rad] -->
  <xacro:property name="aileron_max_angle" value="0.349066" /> <!-- [rad] -->
  <xacro:property name="aileron_color" value="Red" />

  <!-- Elevator properties -->
  <xacro:property name="elevator_length" value="0.051" /> <!-- [m] -->
  <xacro:property name="elevator_width" value="0.457" /> <!-- [m] -->
  <xacro:property name="elevator_height" value="0.012" /> <!-- [m] -->
  <xacro:property name="elevator_min_angle" value="-0.349066" /> <!-- [rad] -->
  <xacro:property name="elevator_max_angle" value="0.349066" /> <!-- [rad] -->
  <xacro:property name="elevator_color" value="Blue" />

  <!-- Flap properties -->
  <xacro:property name="flap_length" value="0.076" /> <!-- [m] -->
  <xacro:property name="flap_width" value="0.459" /> <!-- [m] -->
  <xacro:property name="flap_height" value="0.016" /> <!-- [m] -->
  <xacro:property name="flap_min_angle" value="0.0" /> <!-- [rad] -->
  <xacro:property name="flap_max_angle" value="0.0" /> <!-- [rad] -->
  <xacro:property name="flap_color" value="Yellow" />

  <!-- Rudder properties -->
  <xacro:property name="rudder_length" value="0.129" />
  <xacro:property name="rudder_width" value="0.018" />
  <xacro:property name="rudder_height" value="0.241" />
  <xacro:property name="rudder_min_angle" value="-0.349066" />
  <xacro:property name="rudder_max_angle" value="0.349066" />
  <xacro:property name="rudder_color" value="Orange" />

  <!-- Propeller properties -->
  <xacro:property name="propeller_direction" value="cw" />
  <xacro:property name="propeller_radius" value="0.1" />
  <xacro:property name="propeller_height" value="0.003" />
  <xacro:property name="propeller_color" value="Gray" />

  <!-- Inertia of the main body -->
  <xacro:property name="body_inertia">
    <inertia ixx="0.16632" ixy="0.0" ixz="0.0755" iyy="0.3899" iyz="0.0" izz="0.5243" />
  </xacro:property>

  <!-- Inertia of the aileron, assuming it is a cuboid -->
  <xacro:property name="aileron_inertia">
    <xacro:box_inertia x="${aileron_length}" y="${aileron_width}" z="${aileron_height}" mass="${mass_aileron}" />
  </xacro:property>

  <!-- Inertia of the elevator, assuming it is a cuboid -->
  <xacro:property name="elevator_inertia">
    <xacro:box_inertia x="${elevator_length}" y="${elevator_width}" z="${elevator_height}" mass="${mass_elevator}" />
  </xacro:property>

  <!-- Inertia of the flap, assuming it is a cuboid -->
  <xacro:property name="flap_inertia">
    <xacro:box_inertia x="${flap_length}" y="${flap_width}" z="${flap_height}" mass="${mass_flap}" />
  </xacro:property>

  <!-- Inertia of the rudder, assuming it is a cuboid -->
  <xacro:property name="rudder_inertia">
    <xacro:box_inertia x="${rudder_length}" y="${rudder_width}" z="${rudder_height}" mass="${mass_rudder}" />
  </xacro:property>

  <!-- Inertia of the propeller, assuming it is a cylinder -->
  <xacro:property name="propeller_inertia">
    <xacro:cylinder_inertia r="${propeller_radius}" h="${propeller_height}" mass="${mass_propeller*rotor_velocity_slowdown_sim}" />
  </xacro:property>

  <!-- Included URDF Files -->
  <xacro:include filename="$(find rotors_description)/urdf/fixed_wing_base.xacro" />

  <!-- Instantiate fixed_wing_base_macro once -->
  <xacro:fixed_wing_base_macro
    robot_namespace="${namespace}"
    mass="${mass_fuselage}"
    length="${body_length}"
    width="${body_width}"
    height="${body_height}"
    color="${body_color}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/techpod/techpod_body.dae">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <xacro:insert_block name="body_inertia" />
  </xacro:fixed_wing_base_macro>

  <!-- Instantiate the ailerons -->
  <xacro:control_surface
    robot_namespace="${namespace}"
    surface_name="aileron_left"
    parent="${namespace}/base_link"
    mass_surface="${mass_aileron}"
    min_angle="${aileron_min_angle}"
    max_angle="${aileron_max_angle}"
    color="${aileron_color}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/techpod/techpod_aileron_left.dae"
    surface_length="${aileron_length}"
    surface_width="${aileron_width}"
    surface_height="${aileron_height}">
    <axis xyz="0 -1 0" />   <!-- Joint axis -->
    <origin xyz="0.1095 0.99245 0.115" rpy="0 0 0" />   <!-- Joint origin -->
    <origin xyz="0 0 0" rpy="0 0 0" />   <!-- Link origin -->
    <xacro:insert_block name="aileron_inertia" />
  </xacro:control_surface>

  <xacro:control_surface
    robot_namespace="${namespace}"
    surface_name="aileron_right"
    parent="${namespace}/base_link"
    mass_surface="${mass_aileron}"
    min_angle="${aileron_min_angle}"
    max_angle="${aileron_max_angle}"
    color="${aileron_color}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/techpod/techpod_aileron_right.dae"
    surface_length="${aileron_length}"
    surface_width="${aileron_width}"
    surface_height="${aileron_height}">
    <axis xyz="0 1 0" />   <!-- Joint axis -->
    <origin xyz="0.1095 -0.99245 0.115" rpy="0 0 0" />   <!-- Joint origin -->
    <origin xyz="0 0 0" rpy="0 0 0" />   <!-- Link origin -->
    <xacro:insert_block name="aileron_inertia" />
  </xacro:control_surface>

  <!-- Instantiate the elevator(s) -->
  <xacro:control_surface
    robot_namespace="${namespace}"
    surface_name="elevator"
    parent="${namespace}/base_link"
    mass_surface="${mass_elevator}"
    min_angle="${elevator_min_angle}"
    max_angle="${elevator_max_angle}"
    color="${elevator_color}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/techpod/techpod_elevator.dae"
    surface_length="${elevator_length}"
    surface_width="${elevator_width}"
    surface_height="${elevator_height}">
    <axis xyz="0 -1 0" />   <!-- Joint axis -->
    <origin xyz="-0.555 0 0.26" rpy="0 0 0" />   <!-- Joint origin -->
    <origin xyz="0 0 0" rpy="0 0 0" />   <!-- Link origin -->
    <xacro:insert_block name="elevator_inertia" />
  </xacro:control_surface>

  <!-- Instantiate the flaps -->
  <xacro:control_surface
    robot_namespace="${namespace}"
    surface_name="flap_left"
    parent="${namespace}/base_link"
    mass_surface="${mass_flap}"
    min_angle="${flap_min_angle}"
    max_angle="${flap_max_angle}"
    color="${flap_color}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/techpod/techpod_flap_left.dae"
    surface_length="${flap_length}"
    surface_width="${flap_width}"
    surface_height="${flap_height}">
    <axis xyz="0 -1 0" />   <!-- Joint axis -->
    <origin xyz="0.101 0.382 0.1185" rpy="0 0 0" />   <!-- Joint origin -->
    <origin xyz="0 0 0" rpy="0 0 0" />   <!-- Link origin -->
    <xacro:insert_block name="flap_inertia" />
  </xacro:control_surface>

  <xacro:control_surface
    robot_namespace="${namespace}"
    surface_name="flap_right"
    parent="${namespace}/base_link"
    mass_surface="${mass_flap}"
    min_angle="${flap_min_angle}"
    max_angle="${flap_max_angle}"
    color="${flap_color}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/techpod/techpod_flap_right.dae"
    surface_length="${flap_length}"
    surface_width="${flap_width}"
    surface_height="${flap_height}">
    <axis xyz="0 1 0" />   <!-- Joint axis -->
    <origin xyz="0.101 -0.382 0.1185" rpy="0 0 0" />   <!-- Joint origin -->
    <origin xyz="0 0 0" rpy="0 0 0" />   <!-- Link origin -->
    <xacro:insert_block name="flap_inertia" />
  </xacro:control_surface>

  <!-- Instantiate the rudder -->
  <xacro:control_surface
    robot_namespace="${namespace}"
    surface_name="rudder"
    parent="${namespace}/base_link"
    mass_surface="${mass_rudder}"
    min_angle="${rudder_min_angle}"
    max_angle="${rudder_max_angle}"
    color="${rudder_color}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/techpod/techpod_rudder.dae"
    surface_length="${rudder_length}"
    surface_width="${rudder_width}"
    surface_height="${rudder_height}">
    <axis xyz="0 0 1" />   <!-- Joint axis -->
    <origin xyz="-0.428 0 0" rpy="0 -0.25 0" />   <!-- Joint origin -->
    <origin xyz="0 0 0" rpy="0 0.25 0" />   <!-- Link origin -->
    <xacro:insert_block name="rudder_inertia" />
  </xacro:control_surface>

  <!-- Instantiate the propeller -->
  <xacro:propeller
    robot_namespace="${namespace}"
    suffix=""
    parent="${namespace}/base_link"
    mass_propeller="${mass_propeller}"
    propeller_radius="${propeller_radius}"
    color="${propeller_color}"
    use_mesh_file="${use_mesh}"
    mesh_file="package://rotors_description/meshes/propeller_${propeller_direction}.dae">
    <origin xyz="-0.025 0 0.15" rpy="0 ${-0.5*PI} 0" />
    <xacro:insert_block name="propeller_inertia" />
  </xacro:propeller>

</robot>
