<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<robot name="vi_sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="namespace" value="vi_sensor" />
  <xacro:property name="PI" value="3.141592654" />
  <!-- Vi Sensor Link -->
  <link name="vi_sensor_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.03 0.133 0.057" />
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rotors_description/meshes/vi_sensor.dae" scale="1 1 1" />
      </geometry>
    </visual>

    <inertial>
      <mass value="0.13" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <!-- Left Camera Link -->
  <link name="vi_sensor/camera_left_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.01" radius="0.007" />
      </geometry>
    </collision>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 ${PI/2} 0" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <!-- Right Camera Link -->
  <link name="vi_sensor/camera_right_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.01" radius="0.007" />
      </geometry>
    </collision>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 ${PI/2} 0" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <!-- Kinect Link -->
  <link name="vi_sensor/kinect_link" />

    <!-- Left Camera Joint -->
  <joint name="camera_left_joint" type="fixed">
    <origin xyz="0.015 0.055 0.0065" rpy="0 0 0" />
    <parent link="vi_sensor_link" />
    <child link="vi_sensor/camera_left_link" />
    <limit upper="0" lower="0" effort="0" velocity="0" />
  </joint>

    <!-- Right Camera Joint -->
  <joint name="camera_right_joint" type="fixed">
    <origin xyz="0.015 -0.055 0.0065" rpy="0 0 0" />
    <parent link="vi_sensor_link" />
    <child link="vi_sensor/camera_right_link" />
    <limit upper="0" lower="0" effort="0" velocity="0" />
  </joint>

  <!-- Kinect Joint -->
  <joint name="kinect_joint" type="fixed">
    <origin xyz="0.015 0 0.0065" rpy="0 0 0" />
    <parent link="vi_sensor_link" />
    <child link="vi_sensor/kinect_link" />
    <limit upper="0" lower="0" effort="0" velocity="0" />
  </joint>

</robot>
