<?xml version="1.0" ?>
<model>
    <name>Calibration pattern (wood)</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Jorge Beltran</name>
        <email>jbeltran@ing.uc3m.es</email>
    </author>
    <description>Calibration pattern model with wood (maple) texture to calibrate extrinsics params of a camera and a velodyne </description>
</model>
