<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rotors_description)/urdf/zenmuse.xacro'"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rotors_description)/launch/dji_zenmuse_x4s_config.rviz"/>
<!---->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="True"/>
  </node>
</launch>
