<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include
  file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />

  <group ns="/zenmuse">

      <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rotors_description)/urdf/zenmuse.xacro'"/>
      <arg name="x" default="0"/>
      <arg name="y" default="0"/>
      <arg name="z" default="0.5"/>

      <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
            args= "-urdf -param robot_description -model zenmuse -x $(arg x) -y $(arg y) -z $(arg z)" />

      <node
        name="fake_joint_calibration"
        pkg="rostopic"
        type="rostopic"
        args="pub /calibrated std_msgs/Bool true" />
  </group>
</launch>
