<?xml version="1.0"?>

<launch>
  <arg name="rvizconfig" default="$(find rotors_description)/rviz/test_model_view.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py 
		$(find rotors_description)/urdf/test.xacro
		namespace:=test" />
  <param name="use_gui" value="True"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <!--<node name="rviz" pkg="rviz" type="rviz" />-->
</launch>
