<launch>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="firefly"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/basic.world"/>
    <!-- <arg name="debug" value="true" /> -->
    <arg name="paused" value="true" />
    <!-- <arg name="gui" value="false" /> -->
  </include>
  <include file="$(find rotors_gazebo)/launch/spawn_firefly.launch">
    <arg name="model" value="$(find rotors_description)/urdf/firefly_base.xacro" />
    <arg name="enable_logging" value="$(arg enable_logging)" />
    <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
    <arg name="log_file" value="$(arg log_file)"/>
  </include>
</launch>
