<launch>
<!-- arg -->
<arg name="world_name" default="basic"/> <!-- basic world is opened-->
<arg name="enable_logging" default="false"/>
<arg name="enable_ground_truth" default="true"/>

<arg name="uav_name" default="hafenchraenli"/>
<arg name="log_file" default="$(arg uav_name)"/>
<!-- env-->


<!-- inlclude files-->


<launch>