<launch>
  <arg name="enable_cameras" default="true"/>
  <arg name="enable_kinect" default="true"/>
  <arg name="enable_ground_truth" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/basic.world"/>
    <!-- <arg name="debug" value="true" /> -->
    <arg name="paused" value="true" />
  </include>
  <include file="$(find rotors_gazebo)/launch/spawn_vi_sensor.launch">
    <arg name="enable_cameras" value="$(arg enable_cameras)" />
    <arg name="enable_kinect" value="$(arg enable_kinect)" />
    <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
  </include>
  <node pkg="tf" type="static_transform_publisher" name="camera_left_link_broadcaster"
    args="0 0 0 -1.570796 0 -1.570796 vi_sensor_link camera_left_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="camera_right_link_broadcaster"
    args="0 0 0 -1.570796 0 -1.570796 vi_sensor_link camera_right_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="kinect_link_broadcaster"
    args="0 0 0 -1.570796 0 -1.570796 vi_sensor_link kinect_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="imukinect_link_broadcaster"
    args="0 0 0 0 0 0 vi_sensor_link imu_link 100" />
</launch>
