<?xml version="1.0"?>

<model>
  <name>Landing Target</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Archie Lee</name>
    <email>archie.lee@mail.utoronto.ca</email>
  </author>

  <description>
    A model of a custom landing target.
  </description>

</model>
