<?xml version="1.0"?>
<model>
  <name>Wingtra Tailsitter</name>
  <version>1.0</version>
  <sdf version='1.4'>tailsitter.sdf</sdf>

  <author>
   <name>Roman Bapst</name>
   <email>roman@px4.io</email>
  </author>

  <description>
    This is a model of a tailsitter from Wingtra.
  </description>
</model>
