<?xml version="1.0"?>

<robot name="firefly" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="namespace" value="firefly" />

  <!-- Instantiate default firefly-->
  <xacro:include filename="$(find euroc_simulation_server)/urdf/firefly_base.urdf.xacro" />

  <!-- Mount Pose sensor at pose_sensor1_link -->
  <gazebo>
    <!-- Generic 6D pose sensor plugin -->
    <plugin filename="libmav_gazebo_pose_plugin.so" name="pose_sensor1">
      <linkName>pose_sensor1_link</linkName>
      <robotNamespace>${namespace}</robotNamespace>
      <poseTopic>pose1</poseTopic>
      <measurementDivisor>10</measurementDivisor> <!-- only every (seq % measurementDivisor) == 0 measurement is published [int] -->
      <measurementDelay>10</measurementDelay> <!-- time that measurement gets held back before it's published in [simulation cycles (int)] -->
      <unknownDelay>0.0</unknownDelay> <!-- additional delay, that just gets added to the timestamp [s] -->
      <noiseNormalPosition>0.01 0.01 0.01</noiseNormalPosition> <!-- standard deviation of additive white gaussian noise [m] -->
      <noiseNormalQuaternion>0.017 0.017 0.017</noiseNormalQuaternion> <!-- standard deviation white gaussian noise [rad]: q_m = q*quaternionFromSmallAngleApproximation(noiseNormalQ) -->
      <noiseUniformPosition>0 0 0</noiseUniformPosition> <!-- symmetric bounds of uniform noise [m] -->
      <noiseUniformQuaternion>0 0 0</noiseUniformQuaternion> <!-- symmetric bounds of uniform noise [rad], computation see above -->
    </plugin>
  </gazebo>

  <gazebo>
  <!-- Wind Plugin -->
  <plugin filename="libmav_gazebo_wind_plugin.so" name="wind_plugin">
    <frameId>base_link</frameId>
    <linkName>base_link</linkName>
    <robotNamespace>${namespace}</robotNamespace>
    <xyzOffset>0 0 0</xyzOffset> <!-- [m] [m] [m] -->
    <windDirection>1 1 0</windDirection>
    <windForceMean>0</windForceMean> <!-- [N] -->
    <windGustDirection>1 1 0</windGustDirection>
    <windGustDuration>2</windGustDuration> <!-- [s] -->
    <windGustStart>40</windGustStart> <!-- [s] -->
    <windGustForceMean>5</windGustForceMean> <!-- [N] -->
  </plugin>
</gazebo>
</robot>

