<?xml version="1.0"?>

<model>
  <name>Zephyr Delta Wing</name>
  <version>1.0</version>
  <sdf version="1.6">delta_wing.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>

  <author>
    <name>Nate Koenig</name>
    <email>natekoenig@gmail.com</email>
  </author>

  <author>
    <name>John Hsu</name>
    <email>hsujohnhsu@gmail.com</email>
  </author>

  <description>
    A model of a Zephyr delta wing with PX4 controls instrumented.
  </description>

</model>
