<launch>
  <node name="msf" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
    <remap from="msf_updates/pose_with_covariance_input" to="/firefly/sensor_pose" />
    <remap from="msf_core/imu_state_input" to="/firefly/imu" />
    <rosparam file="$(find mav_params)/parameters/simulator_msf.yaml"/>
    <param name="capability_group" value="Core"></param>
  </node>
</launch>
