<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mav_gazebo)/worlds/pelican.world"/>
  </include>
  <include file="$(find mav_gazebo)/launch/spawn_pelican.launch" />
  <!--node name="gazebo_pose_publisher" pkg="mav_gazebo" type="gazebo_pose_publisher" args="pelican /pelican/pose"/-->
</launch>
