<?xml version="1.0"?>

<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find mav_description)/urdf/vi_sensor.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
   args="-param robot_description
         -urdf
         -x 0
         -y 0
         -z 1
         -model vi_sensor"
   respawn="false" output="screen">
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
</launch>
