<?xml version="1.0"?>
<model>
  <name>Yosemite</name>
  <version>1.0</version>
  <sdf version="1.4">yosemite.sdf</sdf>

  <author>
    <name>Pavel Vechersky</name>
    <email>pvechersky@gmail.com</email>
  </author>

  <description>
    Part of the Yosemite terrain, imported from real-world evelation data.
  </description>

</model>
