<?xml version="1.0"?>
<model>
  <name>Occupancy Grid</name>
  <version>1.0</version>
  <sdf version='1.4'>occupancy_grid.sdf</sdf>

  <author>
   <name>Fadri Furrer</name>
   <email>ffurrer@gmail.com</email>
  </author>

  <description>
    A simple world with some obstacles used for the EuRoC octomap challenge.
  </description>
</model>
