<?xml version="1.0"?>
<model>
  <name>3DR Iris with lidar and optical flow</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_opt_flow.sdf</sdf>

  <author>
   <name>Christoph Tobler</name>
   <email>toblech@ethz.ch</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with lidar and optical flow sensors. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier. The sensors have been created by Christoph Tobler
  </description>
</model>
