<?xml version="1.0"?>
<model>
  <name>3DR Solo</name>
  <version>1.0</version>
  <sdf version="1.5">solo.sdf</sdf>

  <author>
   <name>Igor Napolskikh and Rosalie Kitts</name>
   <email>igor@3drobotics.com</email>
  </author>

  <description>
    This is a model of the 3DR Solo.
  </description>
</model>
