<?xml version="1.0"?>
<model>
  <name>Hinwil</name>
  <version>1.0</version>
  <sdf version="1.6">hinwil.sdf</sdf>

  <author>
    <name>David Rohr</name>
    <email>david.rohr@ethz-asl.com</email>
  </author>

  <description>
    Part of the Hinwil terrain, imported from real-world elevation data.
  </description>

</model>
